export LE_WORKING_DIR="{USYS_ROOT}/bin/acme.sh"
export LE_CONFIG_HOME="{USYS_CONFIG_DIR}"
export LE_CONFIG_HOME="{USYS_CONFIG_DIR}/certs"

alias acme.sh="/usys/bin/acme.sh/acme.sh --config-home {USYS_CONFIG_DIR} --cert-home {USYS_CONFIG_DIR}/certs"
